
<div class="card-columns container ">
    <div class="card animated fadein fast cuadrar" *ngFor="let item of ArtSpotify">

        <img  class="card-img-top img-fluid imagenes"  [src]="item.images | noimage"  alt="">
       
        

        <div class="card-body alinear">

            <h4 class="card-title">{{item.name}}</h4>
            <p class="card-text">{{item.type}}</p>
            <p class="card-text">{{item.genres}}</p>
            


            <div class="probar">
                <button class="btn btn-outline-primary btn-block btn1">ver mas</button>

            </div>
        </div>
        



    </div>

</div>