<h1 class="animated fadein fasr text-center">Buscador</h1>
<hr>
<div class="card-columns container ">
    <div class="card animated fadein fast cuadrar" *ngFor="let item of ArtSpotify">

        <!-- otra forma de hacer interpolacion con el src  -->
        <img class="card-img-top img-fluid" [src]="item.images[0].url" alt="">

        <div class="card-body">

            <h4 class="card-title">{{item.name}}</h4>
            <p class="card-text">{{item.type}}</p>


            <div class="probar">
                <button class="btn btn-outline-primary btn-block">ver mas</button>

            </div>
        </div>
        



    </div>

</div>